<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="ISO-8859-1">
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
    <nav class="row navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #00aced">
                <i class="fab fa-twitter"></i> Tech Talent Twitter</a>
        </div>
        <div id="navbar">
    <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
        <li><a href="feed.html">Home</a></li>
        <li><a href="newTweet.html">New Tweet</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
    <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #00aced">
      @<span sec:authentication="name"></span></a>
    <li><a class="dropdown-item" sec:authorize="!isAuthenticated()"
  href="fragments/signUp_mini.html">Sign Up</a></li>
   
 </ul>
 </div>
</div>
</nav>
    <!-- NAvigation bar stuff above-->
<!-- gets the username and password during login process -->
    <div class="container">
        <h2>Welcome!</h2> 
        <form th:action="@{/login}" method="post"><br/>
           <!--  <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/> -->
            
             <div class="form-group">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
                <input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
            </div>
           
            <div class="form-group">
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/> 
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
            </div>
            
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit" href="feed.html">Log in</button> 
        </form>
        
        <div align="center" th:if="${param.error}">
                <h4 style="color: red">Login unsuccessful.</h4>
            </div>     
    </div>
</body>
</html>