<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="ISO-8859-1">
    <!-- <title>Sign up mini form</title> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
</head>
<body>
  <form method="post" th:action="@{/signup}" data-type="horizontal" data-mini="true">
      <h3 class="text-center">Want to join the tweet fest?</h3>
      <h4 class="text-center"> Sign up here</h4>
     <!-- Submit button -->
     <a href="file:///C:/Users/Artac/OneDrive/Desktop/TechTalentSouth/Springboot%20Projects/TechTalentTwitter/src/main/resources/templates/registration.html" class="btn btn-primary btn-lg active btn btn-md btn-success btn-block"
     type="Submit" th:text="Submit"role="button" aria-pressed="true">Sign Up</a>

  </form>
</body>
</html>