<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="ISO-8859-1">
    <title>new Tweet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
    <nav class="row navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #00aced">
                <i class="fab fa-twitter"></i> Tech Talent Twitter</a>
        </div>
        <div id="navbar">
   <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
        <li><a href="file:///C:/Users/Artac/OneDrive/Desktop/TechTalentSouth/Springboot%20Projects/TechTalentTwitter/src/main/resources/templates/feed.html">Home</a></li>
        <li><a href="file:///C:/Users/Artac/OneDrive/Desktop/TechTalentSouth/Springboot%20Projects/TechTalentTwitter/src/main/resources/templates/newTweet.html">New Tweet</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
    <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #00aced">
      @<span sec:authentication="name"></span></a>
    <li sec:authorize="isAuthenticated()"><a href="../logout">Logout</a></li>
    <li sec:authorize="!isAuthenticated()"><a href="file:///C:/Users/Artac/OneDrive/Desktop/TechTalentSouth/Springboot%20Projects/TechTalentTwitter/src/main/resources/templates/login.html">Login</a></li>
 </ul>
 </div>
</div>
</nav>
    <!-- NAvigation bar stuff above-->
    <div class="container">
        <div class="jumbotron col-md-8 col-md-offset-2">
            <h2>New Tweet</h2><br/>
            <form th:action="@{/tweets}" th:object="${tweet}" method="post" autocomplete="off">
             <div class="form-group">
        <textarea rows="5" th:field="*{message}" placeholder="What's happening?" class="form-control"></textarea>
        <label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="validation-message"></label>	
    </div>
    <div class="form-group">
        <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit">Tweet it!</button>
    </div>
   </form>
   <!-- we will display a success message only if a tweet was successfully created -->
        <div th:if="${successMessage}">
            <h3><span class="text-success" th:utext="${successMessage}"></span></h3>
        </div> 
    </div>
  </div>
</body>
</html>