<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="ISO-8859-1">
    <title id="title">Users</title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
    <div th:replace="/fragments/headlinks :: head-styles"></div>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>
    <div class ="container">
           <div class="container">
        <div th:replace="fragments/navbar"></div>
    <nav class="row navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="navbar.html" style="color: #00aced">
                <i class="fab fa-twitter"></i> Tech Talent Twitter</a>
     
                        <div id="navbar">
                            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                                <li><a href="feed.html">Home</a></li>
                                <li><a href="newTweet.html">New Tweet</a></li>
                             </ul>
                       <ul class="nav navbar-nav navbar-right">
                           <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #00aced">
                                @<span sec:authentication="name"></span></a>
                           <li sec:authorize="isAuthenticated()"><a href="../logout">Logout</a></li>
  
                           <li class="dropdown-item-text" sec:authorize="!isAuthenticated()"><a href="login.html">Login</a></li>
                          <li><a class="dropdown-item" sec:authorize="!isAuthenticated()"
                                href="signUp_mini.html">Sign Up</a></li>
  
                       </ul>
                   </div>
                </div>
             </div>
          </nav>
      </div>
      
          <div class="list-group" th:each="user:${users}">
            <!-- For each user, we'll show their first name, last name, username, and tweet count.  -->
               <a th:href="@{/users/} + ${user.username}" class="list-group-item list-group-item-action">
                 <div class="row">
                   <div class="col col-sm-6">
                   
                      <h5 class="mb-1" style="color: #00aced"><i class="fab fa-twitter"></i> @<span th:text="${user.username}"></span></h5>	
                   
                      <h5 class="mb-1"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
                   
                      <span th:if="${!followingStatus.containsKey(user.username)}">(Me)</span></h5>
                   
                   </div>
                 
                  <div class="col col-sm-2 col-sm-offset-4 text-right">
                  
                    <h5 class="mb-1"><span th:text="${tweetCounts.get(user.username)}"></span> tweets</h5>
                      <form th:action="@{/follow/} + ${user.username}" th:if="${followingStatus.containsKey(user.username) 
				       && !followingStatus.get(user.username)}" method="post">
				
				         <button style="float:right" type="Submit" class="btn btn-md btn-success">Follow</button>
				
				   </form>
				
				   <form th:action="@{/unfollow/} + ${user.username}" th:if="${followingStatus.containsKey(user.username) 
				         && followingStatus.get(user.username)}" method="post">
				
				       <button style="float:right" type="Submit" class="btn btn-md btn-primary unfollow_btn">Following</button>
				
				   </form>
                  
                  </div>
               </div>
              </a>
           </div>
         </div>
        </div>
     </body>
</html>